<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ads_delivery.mapper.AdsMapper">

    <!-- 添加广告 -->
    <insert id="add" parameterType="com.ads_delivery.entity.Ads">
        INSERT INTO ads (adId, title, image, details, tags, belongUsername)
        VALUES (#{adId}, #{title}, #{image}, #{details}, #{tags}, #{belongUsername});
    </insert>

    <!-- 根据广告ID删除广告 -->
    <delete id="delete" parameterType="String">
        DELETE FROM ads WHERE adId = #{adId};
    </delete>

    <!-- 更新广告 -->
    <update id="update" parameterType="com.ads_delivery.entity.Ads">
        UPDATE ads
        SET title = #{title},
            image = #{image},
            details = #{details},
            tags = #{tags},
            belongUsername = #{belongUsername},
            clickCount = #{clickCount}
        WHERE adId = #{adId};
    </update>

    <!-- 根据广告ID查询广告 -->
    <update id="click" parameterType="String">
        UPDATE ads
        SET clickCount = clickCount+1
        WHERE adId = #{adId};
    </update>

    <!-- 查询所有广告 -->
    <select id="getAll" resultType="com.ads_delivery.entity.Ads">
        SELECT adId, title, image, details, tags, belongUsername, clickCount
        FROM ads;
    </select>

    <!-- 根据广告所属用户名查询广告 -->
    <select id="getByUsername" parameterType="String" resultType="com.ads_delivery.entity.Ads">
        SELECT adId, title, image, details, tags, belongUsername, clickCount
        FROM ads
        WHERE belongUsername = #{belongUsername};
    </select>

    <!-- 根据广告图像查询广告 -->
    <select id="getByImage" parameterType="String" resultType="com.ads_delivery.entity.Ads">
        SELECT adId, title, image, details, tags, belongUsername, clickCount
        FROM ads
        WHERE image = #{image};
    </select>

    <!-- 根据广告标签查询广告 -->
    <select id="getByTags" parameterType="String" resultType="com.ads_delivery.entity.Ads">
        SELECT adId, title, image, details, tags, belongUsername, clickCount
        FROM ads
        WHERE tags LIKE CONCAT('%', #{tags}, '%');
    </select>

</mapper>
