<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ads_delivery.mapper.AdsMapper">
    <insert id="insert" parameterType="com.ads_delivery.entity.Ads">
        INSERT INTO ads (ad_id,title,image,details)
        VALUES (#{ad_id}, #{title}, #{image},#{details})
    </insert>

    <!-- 添加广告 -->
    <insert id="add" parameterType="com.ads_delivery.entity.Ads">
        INSERT INTO ads (title, image, details, tags, belong_username, click_count)
        VALUES (#{title}, #{image}, #{details}, #{tags}, #{belong_username}, #{click_count});
    </insert>

    <!-- 根据广告ID删除广告 -->
    <delete id="delete" parameterType="int">
        DELETE FROM ads WHERE ad_id = #{ad_id};
    </delete>

    <!-- 更新广告 -->
    <update id="update" parameterType="com.ads_delivery.entity.Ads">
        UPDATE ads
        SET title = #{title},
            image = #{image},
            details = #{details},
            tags = #{tags},
            belong_username = #{belong_username},
            click_count = #{click_count}
        WHERE ad_id = #{ad_id};
    </update>

    <!-- 根据广告ID查询广告 -->
    <select id="getById" parameterType="int" resultType="com.ads_delivery.entity.Ads">
        SELECT ad_id, title, image, details, tags, belong_username, click_count
        FROM ads
        WHERE ad_id = #{ad_id};
    </select>

    <!-- 查询所有广告 -->
    <select id="getAll" resultType="com.ads_delivery.entity.Ads">
        SELECT ad_id, title, image, details, tags, belong_username, click_count
        FROM ads;
    </select>

    <!-- 根据广告所属用户名查询广告 -->
    <select id="getByUsername" parameterType="String" resultType="com.ads_delivery.entity.Ads">
        SELECT ad_id, title, image, details, tags, belong_username, click_count
        FROM ads
        WHERE belong_username = #{belong_username};
    </select>

    <select id="getByImage" parameterType="String" resultType="com.ads_delivery.entity.Ads">
        SELECT ad_id, title, image, details, tags, belong_username, click_count
        FROM ads
        WHERE image = #{image};
    </select>

</mapper>

