<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ads_delivery.mapper.UserBehaviorMapper">

    <!-- 添加用户行为 -->
    <insert id="add" parameterType="com.ads_delivery.entity.UserBehavior">
        INSERT INTO user_behavior (userId, tags, behaviorType, behaviorWeight)
        VALUES (#{userId}, #{tags}, #{behaviorType}, #{behaviorWeight})
        ON DUPLICATE KEY UPDATE
                             behaviorWeight = behaviorWeight + VALUES(behaviorWeight),
                             behaviorType = CONCAT_WS(',', behaviorType, VALUES(behaviorType));
    </insert>


    <!-- 根据ID删除用户行为 -->
    <delete id="delete" parameterType="int">
        DELETE FROM user_behavior WHERE id = #{id};
    </delete>

    <!-- 更新用户行为 -->
    <update id="update" parameterType="com.ads_delivery.entity.UserBehavior">
        UPDATE user_behavior
        SET userId = #{userId},
            tags = #{tags},
            behaviorType = #{behaviorType}

        WHERE id = #{id};
    </update>

    <!-- 根据ID查询用户行为 -->
    <select id="getById" parameterType="int" resultType="com.ads_delivery.entity.UserBehavior">
        SELECT id, userId, tags, behaviorType
        FROM user_behavior
        WHERE id = #{id};
    </select>

    <!-- 查询所有用户行为 -->
    <select id="getAll" resultType="com.ads_delivery.entity.UserBehavior">
        SELECT *
        FROM user_behavior;
    </select>

    <!-- 根据用户ID查询用户行为 -->
    <select id="getByUserId" resultType="com.ads_delivery.entity.UserBehavior">
        SELECT id, userId, tags, behaviorType, behaviorWeight
        FROM user_behavior
        WHERE userId = #{userId}
        ORDER BY behaviorWeight DESC;;
    </select>


</mapper>
